<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID"
version="3.0">
    <!--
    Don't wanna comment all the stuff, really.
    This web.xml is based on the resources found at these URLs:
    https://github.com/elw00d/gretty-jersey-swagger-app/
    http://www.vogella.com/tutorials/REST/article.html
    I'll format and arrange the XML to be understandable at least.
    -->

    <display-name>
        Distributed and Pervasive Systems - Laboratory
    </display-name>
    <description>
        The laboratory and project components related to RESTful services.
    </description>

    <servlet>
        <servlet-name>
            Dictionary
        </servlet-name>

        <!-- Container to use -->
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>

        <!-- Register resources and providers under the defined packages. -->
        <init-param>
            <param-name>
                jersey.config.server.provider.packages
            </param-name>
            <param-value>
                lab_3.exercise_1
            </param-value>
        </init-param>

        <!-- Load the servlet at the startup -->
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Dictionary</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>