# Created by https://www.gitignore.io/api/autotools

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# Things that were missed
Makefile
config.guess
config.sub
m4/lt*.m4
m4/libtool.m4
ltmain.sh
build-aux/
config.log
config.status
libtool
test-driver

# Build junk
*.cmi
*.cmo
*.class
*.beam
*/*/exercise_*/exercise_*
!*/*/exercise_*/exercise_*.ml
!*/*/exercise_*/exercise_*.erl
!*/*/exercise_*/exercise_*.scala
